.divPaiA{
    height: 500px;
    width: 500px;
    background-color:#FFA500;
}

.divFilhoB{
    height: 50%;
    width: 50%;
    background-color: #90EE90;
}

.paragrafoC{
    color: white;
    background-color: #FF0000;
    font-size: 25px; 
    font-family: monospace;
    font-weight: bold;
}

.divPaiD{
    width: 50%; 
    height: 50vh; 
    background-color:rgb(173, 216, 230);
}

.divFilhoE{
    width: 75vw;
    height: 50%;
    background-color: rgb(255, 0, 0);
}