.divPaiA{
    height: 500px;
    width: 500px;
    background-color:#7300f7;
}

.divFilhoB{
    height: 50%;
    width: 50%;
    background-color: #39d412;
}

.paragrafoC{
    color: rgb(255, 255, 255);
    background-color: #d80d8a;
    font-size: 25px; 
    font-family: cursive ;
    font-weight: bold;
}

.divPaiD{
    width: 50%; 
    height: 50vh; 
    background-color:rgb(65, 126, 83);
}

.divFilhoE{
    width: 75vw;
    height: 50%;
    background-color: rgb(197, 14, 221);
}